@{
    ViewBag.Title = "About Us";
}
<div class="container body-content">
    <div class="row about">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="~/Image/about.jpeg" class="img-fluid" style="height:65%; width:100%; border-radius:5%;">
            
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 desc">

            <h3>Musify</h3>
            <h3 class="blockquote-footer">A Voice is All You Need </h3>
            <p>
                As a feature of ‘Musify’ – the New Music  Streaming Company, we have immediately developed as the greatest new player in the generation and bespoke music organizations for TV, film, radio, amusements, on the web and promoting markets.

                The ‘Organization Name’ Production Music group is a gathering of music makers, authorizing directors, and media experts who can control your music and sound needs from origination to consummation.

                Realizing that music, an incredible power for good on the planet, is one of a kind in its capacity to move individuals and unite them, we work with our specialists and representatives to serve our networks.
            </p>
        </div>

        
       
    </div>

</div>