@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid body-content  ">
    <div class=" jumbotron  contact-jumbotron" >
        <h2 class="text-uppercase text-right"> Contact us  </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="text-center">Vist Our Office</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.5511544607357!2d14.246038015271516!3d40.83782157931836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b09017ea17c19%3A0xe6e889bccbc5e79b!2sMusify!5e0!3m2!1sen!2sin!4v1648724043257!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            <div class="col-md-5  text-capitalize">
                <br />
                <br />
                <br />
                <address>
                    <h3>Musify Pvt limited </h3>
                    <h6>  Via Carlo de Cesare, 64,</br> 80132 Napoli NA,<br /> Italy</h6>

                </address> 
                <h6> <span class="material-icons-outlined  align-bottom">call</span> +919988776655</h6>
                <h6><span class="material-icons-outlined align-bottom">mail</span> Contact@musify.com</h6>


            </div>

        </div>
    </div>
</div>