
@{
    ViewBag.Title = "noaccess403";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-dismissible alert-danger m-0 ">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong> Your Session is Expired or Havent't login,  Please Login From </strong><span><a href="/Home/Login">Login Page</a></span>
</div>
<div class="container-fluid  pagenotfound ">
   
</div>

